*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    width: 50%;
    height: 50%;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 10px 10px rgb(237,242,247);

}

#all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    
}